/* -----------------------------------------------------------------
                MENU
 ----------------------------------------------------------------- */
.sidenav {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background: #252c3b;
  border-radius: 0 10px 10px 0;
}
.sidenav .lien-menu {
  padding: 1em 0 0 2em;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.sidenav .lien-menu .icon-menu {
  margin-right: 10px;
}
.sidenav .lien-menu .text-menu {
  font-size: 16px;
  font-weight: 400;
}
.sidenav .lien-menu:hover {
  color: #d1d1d1;
}
.sidenav .lien-menu:first-of-type {
  margin-top: 30px;
}
.sidenav .lien-menu:last-of-type {
  margin-bottom: 60px;
}
.sidenav .lien-menu.active {
  color: #858991;
}
.sidenav .content-logout {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.sidenav .content-logout .lien-logout {
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 300;
  color: #d1d1d1;
  display: flex;
  align-items: center;
}
.sidenav .content-logout .lien-logout .icon-logout {
  margin-left: 20px;
}
.sidenav .content-logout .lien-logout .text-logout {
  margin-left: 10px;
}
.sidenav .content-logout .lien-logout:hover {
  color: #858991;
}

.menu-burger {
  display: none;
}

#logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding-top: 2em;
}

@media screen and (max-width: 700px) {
  #logo {
    font-size: 20px;
    padding-top: 1em;
  }

  .sidenav {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 0;
  }
  .sidenav .lien-menu {
    margin-left: 2em;
  }
  .sidenav .lien-menu .text-menu {
    margin: 0.5em;
    font-size: 18px;
    font-weight: 400;
  }
  .sidenav .content-logout {
    margin: 0 0 2em 2em;
  }
  .sidenav .content-logout .text-logout {
    font-size: 18px;
    font-weight: 400;
  }

  .menu-burger {
    display: block;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 1em;
  }
}
/* -----------------------------------------------------------------
                HEADER
 ----------------------------------------------------------------- */
.header {
  position: fixed;
  z-index: 300;
  top: 0px;
  left: 220px;
  background: linear-gradient(to bottom, #f4f3f2, #f4f3f2, #f4f3f2, #f4f3f2, #f4f3f2, rgba(244, 244, 245, 0));
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.header #logo {
  display: none;
}
.header .title {
  align-self: center;
  font-weight: 200;
  font-size: 35px;
  color: #252c3b;
  font-family: "Spartan", sans-serif;
  margin: 70px 0 30px 30px;
  width: 100%;
}
.header .title .name {
  font-weight: 500;
}
.header .search {
  position: absolute;
  right: 250px;
}
.header .search form #search-bar {
  width: 15em;
  margin-top: 30px;
  padding-left: 30px;
  color: #252c3b;
  font-size: 16px;
  height: 2em;
  border: solid 1px #fff;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 1px 1px 20px #e7e6e5;
}
.header .search form #search-bar::placeholder {
  color: #d1d1d1;
}
.header .search .icon-search {
  width: 25px;
  position: absolute;
  top: 35px;
  right: 10px;
  color: #d1d1d1;
  z-index: 200;
}

@media screen and (max-width: 700px) {
  .header {
    background: #252c3b;
    display: block;
    height: 8em;
    text-align: start;
    left: 0px;
  }
  .header #logo {
    display: block;
    padding-top: 1em;
    font-size: 20px;
  }
  .header .title {
    margin: 1em 0;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }
  .header .search {
    display: none;
  }
}
/* -----------------------------------------------------------------
                SITE
 ----------------------------------------------------------------- */
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  background: #f4f3f2;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* -----------------------------------------------------------------
                MAIN
 ----------------------------------------------------------------- */
.main {
  position: relative;
  top: 120px;
  height: 80vh;
}
.main.site {
  top: 10vh;
  margin-left: 0;
  height: 90vh;
}

@media screen and (min-width: 700px) {
  .main {
    top: 120px;
    margin-left: 220px;
    padding: 20px;
  }
}
@media screen and (max-width: 700px) {
  .main {
    top: 2em;
    margin: 120px 10px;
  }
  .main.site {
    top: 5vh;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .main.site {
    top: 5vh;
    height: 95vh;
    margin-right: 0;
  }

  .sections.large-section.site, .sections.small-section.site {
    width: 100%;
    justify-content: flex-end;
  }

  .input-form.inscription {
    width: 40%;
  }

  .swiper-slide img {
    width: 90%;
  }
}
/* -----------------------------------------------------------------
                SECTIONS
 ----------------------------------------------------------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.container.dashboard {
  justify-content: space-between;
}

.sections {
  margin: 0;
  border-radius: 10px;
}
.sections.small-section {
  background: #fff;
  box-shadow: 1px 1px 20px #e7e6e5;
  width: 32.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 75vh;
  overflow-y: auto;
  padding-top: 1.5em;
}
.sections.small-section.site {
  justify-content: flex-start;
  width: 30%;
  overflow-y: initial;
}
.sections.large-section {
  width: 67.8%;
  height: 75vh;
  overflow-y: auto;
  padding-right: 1em;
}
.sections.large-section.site {
  justify-content: flex-start;
  align-items: flex-end;
  width: 70%;
  overflow-y: initial;
}
.sections .section-container {
  width: 90%;
}

/* -----------------------------------------------------------------
                SECTION LARGE
 ----------------------------------------------------------------- */
.list-cards {
  overflow-y: auto;
  width: 100%;
}

.todo-container {
  overflow-y: auto;
  max-height: 40vh;
  margin-bottom: 1em;
}

.section-fields {
  width: 100%;
}
.section-fields.responsive-tab {
  display: none;
}
.section-fields .fields-form {
  background: #fff;
  color: #252c3b;
  padding: 20px 30px;
  border-radius: 10px;
  border: solid 1px #fff;
  box-shadow: 1px 1px 20px #f4f3f2;
  width: 100%;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
}
.section-fields .fields-form::placeholder {
  color: #858991;
  letter-spacing: 4px;
  font-size: 18px;
}
.section-fields .fields-form:hover {
  opacity: 70%;
}
.section-fields #field-form-title {
  margin-bottom: 1rem;
}
.section-fields #field-form-text {
  height: 70vh;
}

.options-add-form {
  display: flex;
  flex-wrap: wrap;
}

/* -----------------------------------------------------------------
                SECTION SMALL
 ----------------------------------------------------------------- */
.section-total {
  margin: 0.2em;
}
.section-total .total-container {
  display: flex;
  align-items: flex-end;
}
.section-total .total-container svg {
  color: #d1d1d1;
}
.section-total .total-container span {
  color: #858991;
  padding-left: 10px;
  font-weight: 700;
}

.content-separation {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 22px;
  color: #858991;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f4f3f2;
  margin-bottom: 1em;
}

#menu-options, #date-todo, #text-todo {
  width: 100%;
  max-width: 100%;
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  border: solid 1px #fff;
  color: #252c3b;
}

#menu-options, #date-todo {
  font-weight: 600;
  padding: 0 2em;
  border-radius: 10px;
  background-color: #252c3b;
  color: #fff;
  appearance: none;
  position: relative;
  height: 3em;
  font-size: 15px;
  width: 100%;
}
#menu-options::-webkit-calendar-picker-indicator, #date-todo::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
#menu-options:hover, #date-todo:hover {
  background-color: #252c3b;
  opacity: 80%;
}

#fleche-menu-options {
  position: relative;
  left: 87%;
  bottom: 1.8em;
  color: #fff;
}

#btn-todo {
  padding: auto;
  margin: 1em auto;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.5px;
  width: 40%;
  height: 2.5em;
  border: solid 1px #f4f3f2;
  border-radius: 10px;
  background-color: #f4f3f2;
  color: #d1d1d1;
}
#btn-todo.active {
  color: #fff;
  background-color: #252c3b;
  box-shadow: 1px 1px 20px #f4f3f2;
}
#btn-todo.active:hover {
  color: #fff;
  background-color: #858991;
}

.note-container {
  white-space: pre-line;
  background: #fff;
  color: #252c3b;
  padding: 20px 30px;
  border-radius: 10px;
  border: solid 1px #fff;
  box-shadow: none;
  width: 100%;
  font-family: "Spartan", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.note-container::placeholder {
  color: #d1d1d1;
  letter-spacing: 4px;
  font-size: 18px;
}
.note-container .titre {
  font-size: 20px;
  font-weight: 600;
}

/* -----------------------------------------------------------------
                CARDS
 ----------------------------------------------------------------- */
.card-titre {
  font-size: 18px;
  font-weight: 500;
  color: #252c3b;
}
.card-titre span {
  font-weight: 800;
  font-size: 16px;
}

.card-soustitre {
  color: #858991;
  font-weight: 200;
  margin-top: 10px;
}

.text-separation {
  color: #252c3b;
  font-size: 22px;
  padding: 0 15px;
}

.card-date {
  color: #858991;
  font-weight: 100;
  margin-top: 10px;
}

.card-content {
  color: #d1d1d1;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 300;
  margin-top: 10px;
}

.cards-hover:hover {
  opacity: 60%;
}

.card-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #858991;
}
.card-icons .icons-container {
  margin-left: 1.5em;
}
.card-icons .icons-container .icon-edit {
  color: #858991;
}
.card-icons .icons-container .icon-edit:hover {
  color: #252c3b;
}
.card-icons .icons-container .card-icons {
  color: #f4f3f2;
}
.card-icons .icons-container .card-icons.active {
  color: #d1d1d1;
}
.card-icons .icons-container .card-icons.active:hover {
  color: #252c3b;
}

.card-small {
  padding: 20px 30px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 1px 1px 20px #f4f3f2;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.card-small .boutons-card {
  align-self: center;
  justify-items: center;
  width: auto;
}

.card-style-1 {
  padding: 20px 30px;
  margin: 0 0 1em 0;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  box-shadow: 1px 1px 20px #e7e6e5;
}
.card-style-1 #edit-cours {
  width: 100%;
}
.card-style-1 .card-link {
  text-decoration: none;
}
.card-style-1 .card-link .double-titre {
  display: flex;
}
.card-style-1 .card-link .double-titre.home {
  flex-wrap: wrap;
  align-self: center;
}
.card-style-1 .card-link .double-titre .card-titre {
  margin: 0;
  padding: 0;
}
.card-style-1 .card-link .double-titre .card-date {
  align-self: center;
  margin: 0;
  padding: 0;
}
.card-style-1 #formulaire-edit-cours {
  display: flex;
  width: 100%;
}

.card-style-2 {
  margin: 0 0 1em 0;
  background: #fff;
  box-shadow: 1px 1px 20px #f4f3f2;
  color: #858991;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.card-style-2.completed {
  color: #d1d1d1;
}
.card-style-2 .card-container {
  display: flex;
  align-items: center;
}
.card-style-2 .card-container .texts-content {
  margin-left: 20px;
}
.card-style-2 .card-icons {
  margin-top: 1em;
  cursor: pointer;
  color: #d1d1d1;
  width: 24px;
  height: 24px;
}
.card-style-2 .card-icons:hover {
  color: #858991;
}

.card-add {
  display: flex;
  padding: 5px 5px;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 1em;
}
.card-add.edit-cours {
  margin: 1em 0;
}
.card-add.edit-cours .field-add {
  border: solid 1px #f4f3f2;
  background-color: #f4f3f2;
  color: #252c3b;
  font-family: "Spartan", sans-serif;
  font-size: 14px;
}
.card-add.edit-cours:hover .field-add {
  border: solid 1px #d1d1d1;
  background-color: #d1d1d1;
}
.card-add.edit-cours:hover svg {
  color: #d1d1d1;
}
.card-add:hover .field-add {
  border: solid 1px #858991;
  background-color: #858991;
}
.card-add:hover svg {
  color: #858991;
}
.card-add .icon-plus {
  width: 20%;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #d1d1d1;
}
.card-add .icon-plus svg {
  width: 30px;
}
.card-add .field-add {
  width: 80%;
  border-radius: 10px;
  color: #fff;
  padding: 20px 30px;
  border: solid 1px #252c3b;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #252c3b;
  cursor: pointer;
}
.card-add .field-add.form-new {
  width: 75%;
}
.card-add .field-add::placeholder {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
}

/* -----------------------------------------------------------------
                TAGS
 ----------------------------------------------------------------- */
#newtag, .field-new {
  box-shadow: 1px 1px 20px #f4f3f2;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  color: #252c3b;
  padding: 20px 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
#newtag::placeholder, .field-new::placeholder {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #252c3b;
}
#newtag:hover, .field-new:hover {
  background: #d1d1d1;
  border: 1px solid #d1d1d1;
}

#newtag {
  margin-bottom: 1em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  height: auto;
}
.tags.menu-tag {
  z-index: 10000;
  top: 8em;
  height: auto;
  background: #f4f3f2;
  width: 100%;
}
.tags .tag-note {
  display: flex;
  background: #d1d1d1;
  color: #252c3b;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 10px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  height: auto;
}
.tags .tag-note a {
  color: #fff;
  text-decoration: none;
}
.tags .tag-note.hover:hover {
  background: #252c3b;
  color: #f4f3f2;
  opacity: 50%;
}
.tags .tag-note.active {
  background: #fff;
  color: #252c3b;
  padding-right: 10px;
}
.tags .tag-note.active svg {
  display: none;
}
.tags .tag-note.delete {
  background: #f4f3f2;
  color: #858991;
  margin-bottom: 1em;
}
.tags .tag-note.delete div {
  margin-right: 1em;
}
.tags .tag-note.delete svg:hover {
  color: #252c3b;
}
.tags .tag-note.selected {
  background: #fff;
  color: #858991;
  padding-right: 10px;
  box-shadow: 1px 1px 20px #e7e6e5;
}
.tags .tag-note.selected svg {
  display: none;
}

@media (max-width: 1024px) {
  .container .small-section {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }
  .container .small-section.reverse-order {
    order: 1;
  }
  .container .large-section {
    width: 100%;
    height: auto;
    padding-right: 0;
    margin-bottom: 2em;
  }
  .container .large-section.reverse-order {
    order: 2;
    margin-bottom: 0;
  }
  .container .large-section .section-fields {
    max-height: 55vh;
  }
  .container .responsive-tab {
    display: block;
  }
  .container .responsive-pc {
    display: none;
  }
  .container .tags.to-delete {
    display: none;
  }
  .container .add-container {
    width: 70%;
  }
}
@media (max-width: 760px) {
  .card-style-1 {
    display: block;
  }
  .card-style-1 .card-link .double-titre {
    display: block;
  }
  .card-style-1 .card-link .double-titre .card-titre {
    padding-bottom: 10px;
    width: 100%;
    font-size: 22px;
  }
  .card-style-1 .card-link .double-titre .card-date {
    width: 100%;
    font-size: 14px;
  }
  .card-style-1 .card-link .double-titre .card-soustitre {
    font-size: 16px;
  }
  .card-style-1 .card-link .double-titre .text-separation {
    display: none;
  }
  .card-style-1 .card-icons {
    display: none;
  }

  .responsive .add-container, .responsive #newtag, .responsive .content-separation {
    display: none;
  }

  .container .add-container {
    width: 100%;
  }
}
/* -----------------------------------------------------------------
                PAGE SITE 
 ----------------------------------------------------------------- */
header {
  position: fixed;
  z-index: 100;
  top: 0;
  height: auto;
  width: 100%;
  background: #252c3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0;
}
header #logo {
  padding-top: 0em;
  margin-left: 2em;
}

.menu-open {
  display: none;
}

footer {
  position: fixed;
  background: #252c3b;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer div {
  text-align: center;
  padding: 1.5em;
  color: #fff;
}

#logo-site {
  font-family: "Pacifico", cursive;
  font-size: 1.8em;
  color: #fff;
  margin-left: 2em;
  width: 20%;
}

.label-form {
  margin: 3.5em 0 0.6em 0;
  font-weight: 500;
  color: tomato;
  font-size: 1.2em;
}

.icon-infos {
  color: #d1d1d1;
  margin: 2em 0 0.5em 0;
}

.sous-titre-site {
  width: 100%;
  font-weight: 400;
  color: #858991;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  .form-connexion {
    flex-wrap: nowrap;
    width: 90%;
  }
  .form-connexion #formulaire-connexion {
    display: flex;
    justify-content: flex-end;
  }
  .form-connexion .input-form {
    width: 29%;
  }
  .form-connexion .btn-form {
    margin: 0.8em 1em 0.8em 0;
  }
}
.form-connexion {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 80%;
}

#formulaire-inscription {
  margin-bottom: 3em;
}

.input-form {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.8em 2em;
  margin: 0.8em 1em 0.8em 0;
  font-size: 1em;
}
.input-form.inscription {
  width: 70%;
  padding: 0.8em 2em;
}
.input-form::placeholder {
  font-size: 1em;
}

.btn-form {
  background: #252c3b;
  border: 1px solid #252c3b;
  box-shadow: 1px 1px 20px #0f1013;
  color: #fff;
  border-radius: 10px;
  margin: 0.8em 3em 0.8em 0;
  padding: 0.8em 2em;
  font-size: 1em;
}
.btn-form.inscription {
  margin-top: 1.5em;
  box-shadow: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 1px 1px 20px #d1d1d1;
}

.swiper-pagination-bullet {
  border-radius: 1;
  margin: 0.2em !important;
  height: 2px;
  background: #858991 !important;
}
.swiper-pagination-bullet-active {
  background: tomato !important;
}

@media screen and (max-width: 1024px) {
  #logo {
    width: 20%;
    font-size: 1.5em;
    margin-left: 1em;
  }

  .sections.large-section.site, .sections.small-section.site {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  .sections.large-section.site .section-add, .sections.small-section.site .section-add {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .sections.large-section.site .section-add .label-form, .sections.small-section.site .section-add .label-form {
    width: 100%;
    margin-top: 0;
  }
  .sections.large-section.site .section-add .input-form, .sections.small-section.site .section-add .input-form {
    width: 50%;
    margin: 0.7em 0;
  }
  .sections.large-section.site .section-add .btn-form, .sections.small-section.site .section-add .btn-form {
    width: 50%;
    margin: 0.7em 0;
  }

  .input-form.inscription {
    width: 40%;
  }

  .swiper-slide img {
    width: 90%;
  }
}
@media screen and (max-width: 780px) {
  .sections.large-section.site, .sections.small-section.site {
    margin-bottom: 0;
  }

  .input-form.inscription {
    width: 40%;
  }

  .swiper-slide img {
    width: 80%;
  }
}
@media screen and (max-width: 760px) {
  .main.site {
    margin-top: 2em;
  }

  header {
    display: block;
    text-align: center;
  }
  header #logo {
    margin: 1em 0 1em 0;
    padding-top: 0em;
  }
  header .form-connexion {
    display: none;
  }

  .menu-open {
    background: #252c3b;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 10vh;
    text-align: center;
    padding-top: 5em;
  }
  .menu-open .btn-form {
    width: 80%;
    margin: 1em 0;
  }
  .menu-open .input-form {
    width: 80%;
    margin: 1em 0;
  }

  footer {
    position: initial;
  }

  .sections.large-section.site, .sections.small-section.site {
    margin-bottom: 0;
  }
  .sections.large-section.site .section-add .label-form, .sections.small-section.site .section-add .label-form {
    width: 100%;
    margin-top: 0;
  }
  .sections.large-section.site .section-add .input-form, .sections.small-section.site .section-add .input-form {
    width: 100%;
    margin: 0.7em 0;
  }
  .sections.large-section.site .section-add .btn-form, .sections.small-section.site .section-add .btn-form {
    width: 50%;
    margin: 0.7em 0;
  }

  .input-form.inscription {
    width: 40%;
  }

  .swiper-slide img {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
